<p>Name of restaurant</p>
<input type="text">

<p>Owner</p>
<input type="text">

<p>Location</p>
<select name="" id="">
  <option value="">HN</option>
  <option value="">HCM</option>
</select>


<p>District</p>
<select name="" id="">
  <option value="">1</option>
  <option value="">2</option>
</select>

<p>Address</p>
<input type="text">

<p>Phone number</p>
<input type="text">

<p>Email</p>
<input type="text">

<p>Bussiness type</p>
<select name="" id="">
  <option value="">1</option>
  <option value="">2</option>
</select>

<button>Submit</button>
