<app-navbar></app-navbar>

<section class="bg-white dark:bg-gray-900">
  <div class="max-w-3xl px-6 py-16 mx-auto text-center">
      <h1 class="text-3xl font-semibold text-gray-800 dark:text-gray-100">Your location?</h1>
      <p class="max-w-md mx-auto mt-5 text-gray-500 dark:text-gray-400">Choose your location by map</p>

      <div class="flex flex-col mt-8 space-y-3 sm:space-y-0 sm:flex-row sm:justify-center sm:-mx-2">
          <input id="email" type="text" class="px-4 py-2 text-gray-700 bg-white border rounded-md sm:mx-2 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40" placeholder="Current location">

          <button class="px-4 py-2 text-sm font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-orange-500 rounded-md sm:mx-2 hover:bg-orange-600 focus:outline-none focus:bg-orange-600">
            Search
          </button>
      </div>
  </div>
</section>

<div class="w-full flex justify-center">
  <div class="w-2/3 relative">
    <span class="absolute inset-y-0 left-0 flex items-center pl-3">
        <svg class="w-5 h-5 text-gray-400" viewBox="0 0 24 24" fill="none">
            <path d="M21 21L15 15M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </span>

    <input type="text" class="w-full py-3 pl-10 pr-4 text-gray-700 bg-white border rounded-md dark:bg-gray-900 dark:text-gray-300 dark:border-gray-600 focus:border-blue-400 dark:focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40" placeholder="Find food or restaurant">
  </div>
</div>

<app-food-card></app-food-card>

<app-footer></app-footer>
